body {
    width: 400px;
    height: 500px;
    font-family: Helvetica;
    font-style: normal;
    font-variant: normal;
    user-select: none;
    background-color: rgb(11, 11, 11);
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.trmFormSelect {
    width: 200px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(11, 11, 11);
    border: 0;
    border-bottom: 1.5px solid rgb(110, 0, 130);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.trmFormSelect:hover {
    outline: none;
    border-bottom: 1.5px solid rgb(110, 0, 130);
    box-shadow: 0 5px 10px -10px rgb(255, 0, 255);
}
.trmFormSelect:focus {
    outline: none;
    border-bottom: 1.5px solid rgb(110, 0, 130);
    box-shadow: 0 5px 10px -10px rgb(255, 0, 255);
}
.switch {
    height: 0;
    width: 0;
    visibility: hidden;
}
.switchLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 48px;
    height: 26px;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
}
.switchLabel:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
.switch:checked + .switchLabel {
    background: rgb(110, 0, 130);
}
.switch:checked + .switchLabel:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.switchLabel:active:after {
    width: 25px;
}
label {
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.headerButttons {
    color: white;
    padding: 0 20px 0 20px;
    margin: 0 8px 0 8px;
    font-family: Helvetica;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1.5px solid rgb(110, 0, 130);
    transition: 0.3s;
}
.headerButttons:hover {
    color: rgb(240, 220, 245);
    box-shadow: 0 8px 10px -10px rgb(255, 0, 255);
}

div#header {
    text-align: center;
}
div#body {
    margin-top: 10px;
}